html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.navBar {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  background-color: #282c34;
  color: white;
  height: 80px;  
  z-index: 1000;  
  align-items: center;
  justify-content: center;
  padding: 0 100px;

  .container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    padding: 0 16px;

    .title {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .button-logout {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-left: auto;  
      padding-right: 100px;
    }
  }
}

.main-content {
  margin-top: 64px;  
}
